.template{
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
  height: 11rem;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}

.title{
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.text{
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.buttons{
  background-color: rgb(255 255 255 / 85%);
  position: absolute;
  width: 5rem;
  height: 100%;
  top: 0;
  right: -5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: transform 0.2s;

  & button{
    background-color: rgb(255 255 255 / 0%);
    padding: 0;
    width: 4rem;
  }

  &_showed{
    transform: translateX(-5rem);
  }
}

.modalButtons{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 50%;
  margin: 2rem auto 1rem;
}