.button{
  border: 0;
  background-color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 2.5rem;
  border-radius: 1rem;
  transition: all 0.1s;
  height: 4rem;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    color: inherit;
  }
}

.button-clear{
  padding: 0;

  &--active{
    background-color: var(--bg-color);
  }
}

.button-add{
  border: 1px solid var(--ui-color-gray);
}

.button-gray{
  background-color: var(--bg-color);
}

.button-save {
  background-color: var(--ui-color-violet);
}

.button-cancel {
  background-color: var(--ui-color-red);
}

.button-save, .button-cancel{
  color: white;
  padding: 0 1rem;
  min-width: 4rem;
  font-weight: bold !important;

  &:active{
    color: white;
    transform: scale(0.95);
  }
}




