.deleteItem{
  background-color: var(--ui-color-red);
  color: white;
  position: absolute;
  right: -1rem;
  top: 0;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  
  &:hover{
    transform: scale(1.1);
  }
}