.Channels{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myChannelsSection{
 
}

.myChannels{
    display: flex;
    gap: 2rem;
}

.allChannelsSection{
  
}

.allChannels{
    display: flex;
    gap: 2rem;
}