.messageButtons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.button{
  position: relative;
}

.addButtonInput{
  margin-top: 2rem;
}

.addBtnText, .linkInput{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.checkbox{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
}